body {
    background-size: 100px;
}

.dark-bg {
    background: $body-bg;
    background-size: 100px;
}

.light-bg {
    background: $body-alt-bg;
}

.dark-font {
    color: $body-alt-font-color;
}

.light-font {
    color: $body-font-color;
}

.shadow {
    box-shadow: 0 -.2rem 1rem -.4rem rgba(0, 0, 0, .6),
                inset 0 -1px 5px rgba(0, 0, 0, .4);
}

.alt-bg {
    @extend .dark-font;
    @extend .light-bg;
}

#content {
    position: relative;
    box-shadow: 0 -.3rem 1.6rem 0 rgba(0, 0, 0, .6);
    z-index: 10;

    @extend .dark-bg;

    section {
        padding: 10px inherit;

        header {
            margin-bottom: 20px;
            position: relative;
            z-index: 50;
            @include transform(rotate(-3deg));
        }

        h3 {
            margin-bottom: 0;
        }
    }
}

#{headings()}{
    span.invert {
        color: $white;
        padding: 0 8px;
        box-shadow: -.2rem .2rem .8rem .1rem $shadow;

        &,
        &.orange {
            background-color: $orange;
        }

        &.blue {
            background-color: $blue;
        }

        &.pink {
            background-color: $pink;
        }

    }
}

.white-alpha {
    background-color: rgba($white, 0.7);
    padding: 20px;

    @extend .dark-font;
}
