/* Colors */
$black: rgba(38, 38, 38, 1);
$white: rgb(234, 234, 234);
$greyish: rgb(159, 164, 163);

$shadow: transparentize($black, .2);

$orange: #EA7107;
$blue: #277EE7;
$pink: #D30465;
$yellow: #E6D513;
$green: #26F642;
